<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{templates/layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{userUploadForm.title}">userUploadForm.title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="col-sm-9">
            <fieldset>
                <legend th:text="#{userUploadForm.heading}"></legend>
            </fieldset>
            <form class="card bg-light card-body mb-3" action="#" method="post" enctype="multipart/form-data" th:action="@{/admin/master/uploadUsers}" th:object="${uploadForm}">
                <div class="form-group">
                    <label for="fileType" th:text="#{uploadForm.fileType}">uploadForm.fileType</label>
                    <div class="radio" th:each="ft : ${#servletContext.getAttribute('fileTypeList')}">
                        <label>
                            <input type="radio" th:field="*{fileType}" th:value="${ft.value}" th:text="${ft.label}" />
                        </label>
                    </div>
                </div>
                <input type="file" style="display:none" name="fileData" />
                <div class="form-group">
                    <label for="fileData">
                        <span th:text="#{uploadForm.fileData}" th:remove="tag">uploadForm.fileData</span> <span class="required">*</span>
                    </label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="input-medium" th:classappend="${#fields.hasErrors('fileData')} ? is-invalid" id="fileData" readonly="readonly" />
                            <button type="button" class="btn btn-secondary" id="folderOpen">
                                <em class="fa fa-folder-open" aria-hidden="true"></em>
                                <span th:text="#{uploadForm.folderOpen}" th:remove="tag">uploadForm.folderOpen</span>
                            </button>
                        </div>
                        <span class="invalid-feedback" th:each="err : ${#fields.errors('fileData')}" th:text="${err}"></span>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        <em class="fa fa-check" aria-hidden="true"></em> <span th:text="#{button.upload}" th:remove="tag">button.upload</span>
                    </button>
                    <button type="button" class="btn btn-secondary" id="button_cancel">
                        <em class="fa fa-undo" aria-hidden="true"></em> <span th:text="#{button.cancel}" th:remove="tag">button.cancel</span>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-sm-9" th:if="${uploadForm.uploadResult}">
            <table class="table table-sm table-striped table-hover" th:if="${uploadForm.uploadResult.uploadErrors}">
                <caption th:text="#{uploadError}">uploadError</caption>
                <thead>
                    <tr>
                        <th th:text="#{uploadError.rowNo}">uploadError.rowNo</th>
                        <th th:text="#{uploadError.fieldName}">uploadError.fieldName</th>
                        <th th:text="#{uploadError.message}">uploadError.message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="uploadError : ${uploadForm.uploadResult.uploadErrors}">
                        <td th:text="${uploadError.rowNo}">uploadError.rowNo</td>
                        <td th:text="${uploadError.fieldName}">uploadError.fieldName</td>
                        <td th:text="${uploadError.message}">uploadError.message</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div layout:fragment="scripts">
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(function() {
            $('#fileData').click(function() {
                $('input[name=fileData]').click();
            });

            $('#folderOpen').click(function() {
                $('input[name=fileData]').click();
            });

            $('input[name=fileData]').change(function() {
                $('#fileData').val($(this).prop('files')[0].name);
            });

            $('#button_cancel').click(function() {
                $(location).prop('href', '[(@{'/admin/master/users'})]');
            });
        });
        /*]]>*/
        </script>
    </div>
</body>
</html>
