<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{templates/layout}"
    th:with="currentMenu = 'admin', currentNavlistMenu = 'userForm'">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{userForm.title}">userForm.title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="col-sm-9">
            <h3 th:text="#{userForm.heading}">userForm.heading</h3>
            <form class="form-inline" action="#" method="get" id="searchUser" th:action="@{/admin/master/users}" th:object="${userSearchCriteria}">
                <div class="form-group mb-2">
                    <label for="username" class="sr-only" th:text="#{user.username}">user.username</label>
                    <input type="text" class="form-control input-sm" th:field="*{username}" th:placeholder="#{user.username}" />
                </div>
                <div class="form-group mb-2">
                    <label for="email" class="sr-only" th:text="#{user.email}">user.email</label>
                    <input type="text" class="form-control input-sm" th:field="*{email}" th:placeholder="#{user.email}" />
                </div>
                <button type="submit" class="btn btn-primary btn-sm mb-2">
                    <em class="fas fa-search" aria-hidden="true"></em>
                    <span th:text="#{button.search}" th:remove="tag">button.search</span>
                </button>
            </form>
            <div th:replace="~{templates/pagelinks :: row_div(${paginatedList})}">
            </div>
            <form action="#" th:action="@{/admin/master/users}" th:method="delete">
                <table class="table table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col"><input type="checkbox" id="toggle_checkAll" /></th>
                            <th scope="col" th:text="#{user.username}">user.username</th>
                            <th scope="col" th:text="#{user.email}">user.email</th>
                            <th scope="col" th:text="#{user.enabled}">user.enabled</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${paginatedList.currentPage}">
                            <td><input type="checkbox" name="userIds" th:value="${user.id}" /></td>
                            <td th:text="${user.username}">user.username</td>
                            <td th:text="${user.email}">user.email</td>
                            <td><input type="checkbox" disabled="disabled" th:checked="${user.enabled}" /></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-actions">
                    <p>
                        <button type="button" class="btn btn-primary" id="button_new" th:value="|@{'/user'}?mode=Add&from=list|">
                            <em class="fas fa-plus" aria-hidden="true"></em>
                            <span th:text="#{button.add}" th:remove="tag">button.add</span>
                        </button>
                        <button type="button" class="btn btn-primary" id="button_edit" th:value="|@{'/user'}?from=list&userId=|">
                            <em class="fas fa-edit" aria-hidden="true"></em>
                            <span th:text="#{button.edit}" th:remove="tag">button.edit</span>
                        </button>
                        <button type="submit" class="btn btn-warning" id="button_delete">
                            <em class="fas fa-minus" aria-hidden="true"></em>
                            <span th:text="#{button.delete}" th:remove="tag">button.delete</span>
                        </button>
                        <button type="button" class="btn btn-secondary" id="button_cancel">
                            <em class="fas fa-undo" aria-hidden="true"></em>
                            <span th:text="#{button.cancel}" th:remove="tag">button.cancel</span>
                        </button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-secondary" id="button_upload">
                            <em class="fas fa-upload" aria-hidden="true"></em>
                            <span th:text="#{button.upload}" th:remove="tag">button.upload</span>
                        </button>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#downloadModal" id="button_download">
                            <em class="fas fa-download" aria-hidden="true"></em>
                            <span th:text="#{button.download}" th:remove="tag">button.download</span>
                        </button>
                    </p>
                </div>
                <div class="modal" id="downloadModal" role="dialog" aria-labelledby="downloadModalLabel" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="downloadModalLabel" th:text="#{fileType}">fileType</h4>
                            </div>
                            <div class="modal-body" th:text="#{fileType.message}">
                                fileType.message
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-secondary" id="dialog_download_xml" href="#" th:text="#{fileType.xml}">fileType.xml</a>
                                <a class="btn btn-secondary" id="dialog_download_xls" href="#" th:text="#{fileType.xls}">fileType.xls</a>
                                <a class="btn btn-secondary" id="dialog_download_csv" href="#" th:text="#{fileType.csv}">fileType.csv</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div layout:fragment="scripts">
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(function() {
          if ($('input[name$=Ids]').length === 0) {
            $('#button_edit').prop('disabled', true)
            $('#button_delete').prop('disabled', true)
            $('#button_download').prop('disabled', true)
          }

          $('#button_new').click(function () {
            $(location).prop('href', $('#button_new').val())
          })

          $('#button_edit').click(function () {
            let ids = $('input[name$=Ids]:checked')
            if (ids.length === 0) {
              alert('[(${#messages.msg(\'button.choose\', \'__#{button.edit_target}__\')})]')
            } else if (ids.length > 1) {
              alert('[(${#messages.msg(\'button.no_more_choose\', \'__#{button.edit_target}__\')})]')
            } else {
              $(location).prop('href', $('#button_edit').val() + ids.val())
            }
          })

          $('#button_delete').click(function () {
            if ($('input[name$=Ids]:checked').length === 0) {
              alert('[(${#messages.msg(\'button.choose\', \'__#{button.delete_target}__\')})]')
              return false
            } else {
              return true
            }
          })

          $('#button_cancel').click(function () {
            $(location).prop('href', '[(@{\'/admin/master/top\'})]')
          })

          $('#button_upload').click(function () {
            $(location).prop('href', '[(@{\'/admin/master/uploadUsers\'})]')
          })

          $('#dialog_download_csv').click(function () {
            $(location).prop('href', '[(@{\'/admin/master/users.csv\'})]')
          })

          $('#dialog_download_xls').click(function () {
            $(location).prop('href', '[(@{\'/admin/master/users.xlsx\'})]')
          })

          $('#dialog_download_xml').click(function () {
            $(location).prop('href', '[(@{\'/admin/master/users.xml\'})]')
          })
        })
        /*]]>*/
        </script>
    </div>
</body>
</html>
