<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx.xsd"
    default-lazy-init="true">

    <!-- =================================================================== -->
    <!-- AOP: Configuration and Aspects                                      -->
    <!-- =================================================================== -->
    <aop:config>
        <aop:advisor id="userManagerSecurity" advice-ref="userSecurityAdvice" pointcut="execution(* *..service.UserManager.saveUserDetails(..))" order="1" />
    </aop:config>

    <bean id="userSecurityAdvice" class="common.service.UserSecurityAdvice" />

    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config />

    <!-- Activates scanning of @Service -->
    <context:component-scan base-package="common.service,common.validator,common.webapp.config" />

    <!-- Enable @Transactional support -->
    <tx:annotation-driven />

    <!-- =================================================================== -->
    <!-- Mail: Sender and FreeMarker configuration                             -->
    <!-- =================================================================== -->
    <bean id="mailEngine" class="common.service.mail.MailEngine">
        <property name="mailSender" ref="mailSender" />
        <property name="freemarkerConfiguration" ref="freemarkerConfiguration" />
        <property name="from" value="${mail.default.from}" />
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.host}" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>

    <!-- Configure freemarker for sending e-mail -->
    <bean id="freemarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
        <property name="templateLoaderPath" value="classpath:/META-INF/freemarker/" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>

    <bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage" scope="prototype">
        <property name="from" value="${mail.default.from}" />
    </bean>

</beans>
