<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
    default-lazy-init="true">

    <bean class="org.springframework.orm.hibernate4.HibernateExceptionTranslator" />
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" destroy-method="destroy">
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</prop>
                <prop key="hibernate.hikari.dataSourceClassName">${dataSource.dataSourceClassName}</prop>
                <prop key="hibernate.hikari.dataSource.url">${dataSource.url}</prop>
                <prop key="hibernate.hikari.dataSource.user">${dataSource.username}</prop>
                <prop key="hibernate.hikari.dataSource.password">${dataSource.password}</prop>
                <prop key="hibernate.hikari.dataSource.cachePrepStmts">${dataSource.cachePrepStmts}</prop>
                <prop key="hibernate.hikari.dataSource.prepStmtCacheSize">${dataSource.prepStmtCacheSize}</prop>
                <prop key="hibernate.hikari.dataSource.prepStmtCacheSqlLimit">${dataSource.prepStmtCacheSqlLimit}</prop>
                <prop key="hibernate.hikari.maximumPoolSize">${dataSource.maximumPoolSize}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.query.substitutions">true 'Y', false 'N'</prop>
                <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.show_sql">false</prop>
                <!-- Hibernate Search -->
                <prop key="hibernate.search.default.indexBase">${catalina.base}/indexes</prop>
                <prop key="hibernate.search.default.directory_provider">filesystem</prop>
                <prop key="hibernate.search.default.locking_strategy">simple</prop>
                <prop key="hibernate.search.default.exclusive_index_use">true</prop>
                <prop key="hibernate.search.lucene_version">LUCENE_CURRENT</prop>
                <prop key="hibernate.search.analyzer">org.apache.lucene.analysis.en.EnglishAnalyzer</prop>
                <prop key="hibernate.search.worker.batch_size">100</prop>
                <!-- Hibernate Validator -->
                <prop key="hibernate.validator.autoregister_listeners">false</prop>
                <prop key="hibernate.validator.apply_to_ddl">false</prop>
            </props>
        </property>
        <property name="packagesToScan">
            <list>
                <value>common/model</value>
            </list>
        </property>
    </bean>

    <!-- Transaction manager for a single Hibernate SessionFactory -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config />

    <!-- Activates scanning of @Repository -->
    <context:component-scan base-package="common.dao" />

</beans>
