<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    th:lang="${#locale.language}">
<head>
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE" th:text="#{webapp.name}">webapp.name</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" th:src="@{'/scripts/script.js?ver='} + ${#servletContext.getAttribute('assetsVersion')}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/cerulean/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" th:href="@{'/styles/style.css?ver='} + ${#servletContext.getAttribute('assetsVersion')}" />
</head>
<body>
    <div class="navbar navbar-light bg-light fixed-top navbar-expand-md" role="navigation">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar">&#x2630;</button>
        <a class="navbar-brand" href="#" th:href="@{'/'}" th:text="#{webapp.name}">webapp.name</a>
        <div th:replace="~{templates/menu :: navbar_div(${currentMenu})}">
        </div>
        <ul class="navbar-nav" th:if="${#locale.language} != 'en'">
            <li class="nav-item">
                <a href="#" id="switch_locale_url">in English</a>
            </li>
        </ul>
    </div>
    <div class="container" id="content">
        <div th:replace="~{templates/messages :: alert_div}">
        </div>
        <div class="row">
            <div layout:fragment="content" th:remove="tag">
            </div>
            <div class="col-md-3" th:if="${currentMenu} == 'admin'">
                <div th:replace="~{templates/navlistMenu :: nav_ul(${currentNavlistMenu})}">
                </div>
            </div>
        </div>
    </div>
    <div class="navbar fixed-bottom" id="footer">
        <div class="col-md-6 text-left">
            <span th:if="${#request.remoteUser}" th:text="|#{user.status} ${#request.remoteUser}|">user.status</span>
        </div>
        <div class="col-md-6 text-right">
            <span th:text="|&copy; #{copyright.year}|">copyright.year</span>
            <a href="#" th:href="#{company.url}" th:text="#{company.name}">company.name</a>
        </div>
    </div>
    <div layout:fragment="scripts" th:remove="tag"></div>
</body>
</html>
