<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Menu</title>
</head>
<body>
    <div class="collapse navbar-collapse" id="navbar" th:fragment="navbar_div(currentMenu)">
        <ul class="nav nav-pills">
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a href="#" class="nav-link active" th:href="@{'/login'}" th:text="#{loginForm.heading}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a href="#" class="nav-link" th:classappend="${currentMenu} == 'topForm' ? 'active'" th:href="@{'/top'}" th:text="#{topForm.title}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a href="#" class="nav-link" th:classappend="${currentMenu} == 'userSaveForm' ? 'active'" th:href="@{'/user'}" th:text="#{userSaveForm.heading}"></a>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" th:classappend="${currentMenu} == 'admin' ? 'active'" href="#" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span th:text="#{admin.topForm}" th:remove="tag"></span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li class="dropdown-item"><a href="#" class="nav-link" th:href="@{'/admin/master/top'}" th:text="#{admin.master.topForm}"></a></li>
                    <li class="dropdown-item"><a href="#" class="nav-link" th:href="@{'/admin/activeUsers'}" th:text="#{activeUsersForm}"></a></li>
                </ul>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="POST" id="logout">
                    <a href="#" class="nav-link" th:text="#{topForm.logout}" onclick="$('#logout').submit();"></a>
                </form>
            </li>
        </ul>
    </div>
</body>
</html>
