<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <ul class="nav nav-pills nav-stacked" th:fragment="nav_ul(currentNavlistMenu)" th:if="${currentNavlistMenu} == 'admin' or ${currentNavlistMenu} == 'activeUsersForm'">
        <li class="nav-header" th:text="#{admin.topForm}"></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span th:text="#{admin.master.topForm}"></span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" th:href="@{'/admin/master/users'}" th:text="#{user}"></a></li>
                <li class="divider"></li>
                <li><a href="#" th:href="@{'/admin/reload'}" th:text="#{admin.master.topForm.reload}"></a></li>
            </ul>
        </li>
        <li th:class="${currentNavlistMenu} == 'activeUsersForm' ? 'active'">
            <a href="#" th:href="@{'/admin/activeUsers'}" th:text="#{activeUsersForm}"></a>
        </li>
    </ul>
    <ul class="nav nav-pills nav-stacked" th:fragment="menu_ul(currentNavlistMenu)" th:if="${currentNavlistMenu} == 'master' or ${currentNavlistMenu} == 'userForm'">
        <li class="nav-header" th:text="#{admin.master.topForm}"></li>
        <li th:class="${currentNavlistMenu} == 'userForm' ? 'active'">
            <a href="#" th:href="@{'/admin/master/users'}" th:text="#{user}"></a>
        </li>
        <li><a href="#" th:href="@{'/admin/reload'}" th:text="#{admin.master.topForm.reload}"></a></li>
    </ul>
</body>
</html>
