<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{__${errorTitle}__.title} + ' | ' + #{webapp.name}">webapp.name</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/assets/v/' + ${#servletContext.getAttribute('assetsVersion')} + '/main.css'}" />
</head>
<body id="error">
    <div class="container">
        <h1 th:text="#{webapp.name}">webapp.name</h1>
        <div th:text="${errorMsg}">
        </div>
        <div th:text="#{__${errorTitle}__.heading}">
        </div>
    </div>
    <script type="text/javascript" th:src="@{'/assets/v/' + ${#servletContext.getAttribute('assetsVersion')} + '/main.js'}"></script>
</body>
</html>
