<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{templates/layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{updatePasswordForm.title}">updatePasswordForm.title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="col-sm-3">
            <h3 th:text="#{updatePasswordForm.heading}">updatePasswordForm.heading</h3>
            <p th:if="${param.token}" th:text="#{updatePasswordForm.passwordReset.message}">updatePasswordForm.passwordReset.message</p>
            <p th:unless="${param.token}" th:text="#{updatePasswordForm.changePassword.message}">updatePasswordForm.changePassword.message</p>
        </div>
        <div class="col-sm-5">
            <form class="well" action="#" method="post" autocomplete="off" th:action="@{'/updatePassword(token=${param.token})'}" >
                <div class="form-group">
                    <label class="control-label">
                        <span th:text="#{user.username}" th:remove="tag">user.username</span> <span class="required">*</span>
                    </label>
                    <input type="text" class="form-control" name="username" readonly="readonly" th:value="${username}">
                </div>
                <div class="form-group" th:unless="${param.token}">
                    <label class="control-label">
                        <span th:text="#{updatePasswordForm.currentPassword}" th:remove="tag">updatePasswordForm.currentPassword</span> <span class="required">*</span>
                    </label>
                    <input type="password" class="form-control" name="currentPassword">
                </div>
                <div class="form-group">
                    <label class="control-label">
                        <span th:text="#{updatePasswordForm.newPassword}" th:remove="tag">updatePasswordForm.newPassword</span> <span class="required">*</span>
                    </label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <fieldset class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i> <span th:text="#{button.edit}" th:remove="tag">button.edit</span>
                    </button>
                    <button type="reset" class="btn btn-default">
                        <i class="glyphicon glyphicon-refresh"></i> <span th:text="#{button.reset}" th:remove="tag">button.reset</span>
                    </button>
                    <button type="button" class="btn btn-default" id="button_cancel">
                        <i class="glyphicon glyphicon-remove"></i> <span th:text="#{button.cancel}" th:remove="tag">button.cancel</span>
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
    <div layout:fragment="scripts">
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(function() {
            $('#button_cancel').click(function() {
                $(location).attr('href', '[(${param.token} ? @{'/logout'} : @{'/user'})]');
            });
        });
        /*]]>*/
        </script>
    </div>
</body>
</html>
