<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{templates/layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{passwordForm.title}">passwordForm.title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="col-md-3">
            <h3 th:text="#{passwordForm.heading}">passwordForm.heading</h3>
            <p th:if="${passwordForm.token}" th:text="#{passwordForm.passwordReset.message}">passwordForm.passwordReset.message</p>
            <p th:unless="${passwordForm.token}" th:text="#{passwordForm.changePassword.message}">passwordForm.changePassword.message</p>
        </div>
        <div class="col-md-6">
            <form class="card bg-light card-body mb-3" action="#" method="post" th:action="@{/updatePassword(from=${param.from})}" th:object="${passwordForm}" >
                <input type="hidden" th:field="*{token}" />
                <div class="mb-3">
                    <label for="username" th:text="#{user.username}">user.username</label>
                    <input type="text" class="form-control" readonly="readonly" th:field="*{username}" />
                </div>
                <div class="mb-3" th:if="${passwordForm.token}">
                    <input type="hidden" name="currentPassword" value="dummy" />
                </div>
                <div class="mb-3" th:unless="${passwordForm.token}">
                    <label for="currentPassword">
                        <span th:text="#{passwordForm.currentPassword}" th:remove="tag">passwordForm.currentPassword</span> <span class="required">*</span>
                    </label>
                    <input type="password" class="form-control" th:classappend="${#fields.hasErrors('currentPassword')} ? is-invalid" th:field="*{currentPassword}" />
                    <span class="invalid-feedback" th:each="err : ${#fields.errors('currentPassword')}" th:text="${err}"></span>
                </div>
                <div class="mb-3">
                    <label for="newPassword">
                        <span th:text="#{passwordForm.newPassword}" th:remove="tag">passwordForm.newPassword</span> <span class="required">*</span>
                    </label>
                    <input type="password" class="form-control" th:classappend="${#fields.hasErrors('newPassword')} ? is-invalid" th:field="*{newPassword}" />
                    <span class="invalid-feedback" th:each="err : ${#fields.errors('newPassword')}" th:text="${err}"></span>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword">
                        <span th:text="#{passwordForm.confirmPassword}" th:remove="tag">passwordForm.newPassword</span>
                    </label>
                    <input type="password" class="form-control" th:classappend="${#fields.hasErrors('confirmPassword')} ? is-invalid" th:field="*{confirmPassword}" />
                    <span class="invalid-feedback" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></span>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        <em class="fas fa-check" aria-hidden="true"></em>
                        <span th:text="#{button.edit}" th:remove="tag">button.edit</span>
                    </button>
                    <button type="reset" class="btn btn-secondary">
                        <em class="fas fa-redo" aria-hidden="true"></em>
                        <span th:text="#{button.reset}" th:remove="tag">button.reset</span>
                    </button>
                    <button type="button" class="btn btn-secondary" id="button_cancel">
                        <em class="fas fa-undo" aria-hidden="true"></em>
                        <span th:text="#{button.cancel}" th:remove="tag">button.cancel</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div layout:fragment="scripts">
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
          $('#button_cancel').click(function () {
            $(location).prop('href', '[(${passwordForm.token} ? @{\'/logout\'} : @{/user(from=${param.from})})]')
          })
        })
        /*]]>*/
        </script>
    </div>
</body>
</html>
