<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{templates/layout}"
    th:with="currentMenu = ${param.from} == null ? 'userSaveForm' : 'admin'">
<head>
    <title th:text="#{userSaveForm.title}">userForm.title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div layout:fragment="content">
        <div class="col-sm-2" >
            <h3 th:unless="${param.from}" th:text="#{userSaveForm.heading}">userSaveForm.heading</h3>
            <p th:unless="${param.from}" th:text="#{userSaveForm.message}">userSaveForm.message</p>
        </div>
        <div class="col-sm-7" th:with="addMode = ${param.method} != null and ${param.method[0]} == 'Add', listMode = ${param.from} != null and ${param.from[0]} == 'list'">
            <fieldset id="legend">
                <legend th:if="${addMode}" th:text="#{button.add}">button.add</legend>
                <legend th:unless="${addMode}" th:text="#{button.edit}">button.edit</legend>
            </fieldset>
            <form action="#" class="well" autocomplete="off" th:action="@{/user(method=${param.method}, from=${param.from})}" th:object="${user}" method="post">
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{version}" />
                <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? has-error" th:if="${addMode}">
                    <label for="username" class="control-label">
                        <span th:text="#{user.username}" th:remove="tag">user.username</span> <span class="required">*</span>
                    </label>
                    <input type="text" class="form-control" th:field="*{username}" />
                    <span class="help-block" th:each="err : ${#fields.errors('username')}" th:text="${err}"></span>
                </div>
                <div class="control-group" th:unless="${addMode}">
                    <label for="username" class="control-label" th:text="#{user.username}">user.username</label>
                    <input type="text" class="form-control" readonly="readonly" th:field="*{username}" />
                </div>
                <div class="row" th:if="${addMode}">
                    <div class="col-sm-6" th:classappend="${#fields.hasErrors('password')} ? has-error">
                        <label for="password" class="control-label">
                            <span th:text="#{user.password}" th:remove="tag">user.password</span> <span class="required">*</span>
                        </label>
                        <input type="password" class="form-control" th:field="*{password}" />
                        <span class="help-block" th:each="err : ${#fields.errors('password')}" th:text="${err}"></span>
                    </div>
                    <div class="col-sm-6" th:classappend="${#fields.hasErrors('confirmPassword')} ? has-error">
                        <label for="confirmPassword" class="control-label" th:text="#{user.confirmPassword}">user.confirmPassword</label>
                        <input type="password" class="form-control" th:field="*{confirmPassword}" />
                        <span class="help-block" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></span>
                    </div>
                </div>
                <span class="help-block" th:if="${#request.remoteUser} == *{username} and !${addMode}">
                    <a href="#" th:if="${listMode}" th:href="|@{'/updatePassword'}?from=list|" th:text="#{userSaveForm.password.request}">userSaveForm.password.request</a>
                    <a href="#" th:unless="${listMode}" th:href="@{'/updatePassword'}" th:text="#{userSaveForm.password.request}">userSaveForm.password.request</a>
                </span>
                <div class="row">
                    <div class="col-sm-6" th:classappend="${#fields.hasErrors('firstName')} ? has-error">
                        <label for="firstName" class="control-label">
                            <span th:text="#{user.firstName}" th:remove="tag">user.firstName</span> <span class="required">*</span>
                        </label>
                        <input type="text" class="form-control" th:field="*{firstName}" />
                        <span class="help-block" th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></span>
                    </div>
                    <div class="col-sm-6" th:classappend="${#fields.hasErrors('lastName')} ? has-error">
                        <label for="lastName" class="control-label" th:text="#{user.lastName}">user.lastName</label>
                        <input type="text" class="form-control" th:field="*{lastName}" />
                        <span class="help-block" th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
                    <label for="email" class="control-label">
                        <span th:text="#{user.email}" th:remove="tag">user.email</span> <span class="required">*</span>
                    </label>
                    <input type="text" class="form-control" th:field="*{email}" />
                    <span class="help-block" th:each="err : ${#fields.errors('email')}" th:text="${err}"></span>
                </div>


            </form>
        </div>
    </div>
</body>
</html>
