<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{templates/layout}"
    th:with="currentMenu = ${param.from} != null and ${param.from[0]} == 'list' ? 'admin' : 'userSaveForm'">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{userSaveForm.title}">userForm.title</title>
</head>
<body th:with="listMode = ${param.from} != null and ${param.from[0]} == 'list'">
    <div layout:fragment="content">
        <div class="col-sm-2" >
            <h3 th:unless="${listMode}" th:text="#{userSaveForm.heading}">userSaveForm.heading</h3>
            <p th:unless="${listMode}" th:text="#{userSaveForm.message}">userSaveForm.message</p>
        </div>
        <div class="col-sm-7" th:with="addMode = ${param.mode} != null and ${param.mode[0]} == 'Add'">
            <fieldset>
                <legend th:if="${addMode}" th:text="#{button.add}">button.add</legend>
                <legend th:unless="${addMode}" th:text="#{button.edit}">button.edit</legend>
            </fieldset>
            <form class="well" action="#" method="post" autocomplete="off" th:action="@{/user(mode=${param.mode}, from=${param.from})}" th:object="${user}">
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{version}" />
                <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? has-error" th:if="${addMode}">
                    <label for="username" class="control-label">
                        <span th:text="#{user.username}" th:remove="tag">user.username</span> <span class="required">*</span>
                    </label>
                    <input type="text" class="form-control" th:field="*{username}" />
                    <span class="help-block" th:each="err : ${#fields.errors('username')}" th:text="${err}"></span>
                </div>
                <div class="control-group" th:unless="${addMode}">
                    <label for="username" class="control-label" th:text="#{user.username}">user.username</label>
                    <input type="text" class="form-control" readonly="readonly" th:field="*{username}" />
                </div>
                <div class="row" th:if="${addMode}">
                    <div class="col-sm-6" th:classappend="${#fields.hasErrors('password')} ? has-error">
                        <label for="password" class="control-label">
                            <span th:text="#{user.password}" th:remove="tag">user.password</span> <span class="required">*</span>
                        </label>
                        <input type="password" class="form-control" th:field="*{password}" />
                        <span class="help-block" th:each="err : ${#fields.errors('password')}" th:text="${err}"></span>
                    </div>
                    <div class="col-sm-6" th:classappend="${#fields.hasErrors('confirmPassword')} ? has-error">
                        <label for="confirmPassword" class="control-label" th:text="#{user.confirmPassword}">user.confirmPassword</label>
                        <input type="password" class="form-control" th:field="*{confirmPassword}" />
                        <span class="help-block" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></span>
                    </div>
                </div>
                <div class="row" th:if="${#request.remoteUser} == *{username} and !${addMode}">
                    <div class="col-sm-6">
                        <label for="password" class="control-label">
                            <span th:text="#{user.password}" th:remove="tag">user.password</span>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" th:if="${listMode}" th:href="|@{'/updatePassword'}?from=list|" th:text="#{userSaveForm.password.request}">userSaveForm.password.request</a>
                        <a href="#" th:unless="${listMode}" th:href="@{'/updatePassword'}" th:text="#{userSaveForm.password.request}">userSaveForm.password.request</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" th:classappend="${#fields.hasErrors('firstName')} ? has-error">
                        <label for="firstName" class="control-label">
                            <span th:text="#{user.firstName}" th:remove="tag">user.firstName</span> <span class="required">*</span>
                        </label>
                        <input type="text" class="form-control" th:field="*{firstName}" />
                        <span class="help-block" th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></span>
                    </div>
                    <div class="col-sm-6" th:classappend="${#fields.hasErrors('lastName')} ? has-error">
                        <label for="lastName" class="control-label" th:text="#{user.lastName}">user.lastName</label>
                        <input type="text" class="form-control" th:field="*{lastName}" />
                        <span class="help-block" th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
                    <label for="email" class="control-label">
                        <span th:text="#{user.email}" th:remove="tag">user.email</span> <span class="required">*</span>
                    </label>
                    <input type="text" class="form-control" th:field="*{email}" />
                    <span class="help-block" th:each="err : ${#fields.errors('email')}" th:text="${err}"></span>
                </div>
                <div class="form-group" th:if="${listMode}">
                    <label class="control-label" th:text="#{userForm.accountSettings}">userForm.accountSettings</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" th:field="*{enabled}" />
                        <span th:text="#{user.enabled}" th:remove="tag">user.enabled</span>
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" th:field="*{accountLocked}" />
                        <span th:text="#{user.accountLocked}" th:remove="tag">user.accountLocked</span>
                    </label>
                </div>
                <div class="row" th:if="${listMode}">
                    <div class="col-sm-6" th:classappend="${#fields.hasErrors('accountExpiredDate')} ? has-error">
                        <label for="accountExpiredDate" class="control-label" th:text="#{user.accountExpiredDate}">user.accountExpiredDate</label>
                        <input type="text" class="form-control" th:field="*{accountExpiredDate}" th:placeholder="#{datetimepicker.format}" />
                        <span class="help-block" th:each="err : ${#fields.errors('accountExpiredDate')}" th:text="${err}"></span>
                    </div>
                    <div class="col-sm-6" th:classappend="${#fields.hasErrors('credentialsExpiredDate')} ? has-error">
                        <label for="credentialsExpiredDate" class="control-label" th:text="#{user.credentialsExpiredDate}">user.credentialsExpiredDate</label>
                        <input type="text" class="form-control" th:field="*{credentialsExpiredDate}" th:placeholder="#{datetimepicker.format}" />
                        <span class="help-block" th:each="err : ${#fields.errors('credentialsExpiredDate')}" th:text="${err}"></span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('roles')} ? has-error" th:if="${listMode}">
                    <label for="roles" class="control-label" th:text="#{userForm.assignRoles}">userForm.assignRoles</label>
                    <select class="form-control" name="roles" multiple="multiple">
                        <option th:each="role : ${#servletContext.getAttribute('availableRoles')}" th:selected="${user.roleList.contains(role)}" th:value="${role.value}" th:text="${role.label}">role.label</option>
                    </select>
                    <span class="help-block" th:each="err : ${#fields.errors('roles')}" th:text="${err}"></span>
                </div>
                <input type="hidden" name="roles" th:each="role : *{roles}" th:value="${role.name}" th:unless="${listMode}" />
                <input type="hidden" th:field="*{enabled}" th:unless="${listMode}" />
                <input type="hidden" th:field="*{accountLocked}" th:unless="${listMode}" />
                <input type="hidden" th:field="*{accountExpiredDate}" th:unless="${listMode}" />
                <input type="hidden" th:field="*{credentialsExpiredDate}" th:unless="${listMode}" />
                <fieldset class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"></i>
                        <span th:if="${addMode}" th:text="#{button.add}" th:remove="tag">button.add</span>
                        <span th:unless="${addMode}" th:text="#{button.edit}" th:remove="tag">button.edit</span>
                    </button>
                    <button type="reset" class="btn btn-default">
                        <i class="glyphicon glyphicon-refresh"></i> <span th:text="#{button.reset}" th:remove="tag">button.reset</span>
                    </button>
                    <button type="button" class="btn btn-default" id="button_cancel">
                        <i class="glyphicon glyphicon-remove"></i> <span th:text="#{button.cancel}" th:remove="tag">button.cancel</span>
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
    <div layout:fragment="scripts">
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(function() {
            $('#accountExpiredDate').datetimepicker({
            	locale : '[(${#locale.language})]',
                format : '[(#{datetimepicker.format})]'
            });

            $('#credentialsExpiredDate').datetimepicker({
            	locale : '[(${#locale.language})]',
                format : '[(#{datetimepicker.format})]'
            });

            $('#button_cancel').click(function() {
                $(location).prop('href', '[(${listMode} ? @{'/admin/master/users'} : @{'/top'})]');
            });
        });
        /*]]>*/
        </script>
    </div>
</body>
</html>
